<div class="bootstrap-scope" id="phinx-app" v-cloak>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
                <div class="card mw-100 p-0">
                    <div class="card-header">
                        <h1>{{ 'iczcore::migrations.admin_page.title'|trans }}</h1>
                    </div>
                    <div class="card-body">
                        <pre v-if="!processing" :class="{'text-danger': error}">{@ output || error @}</pre>
                        <div v-else class="d-flex flex-row justify-content-center align-items-center">
                            <div class="spinner-grow text-primary" style="width: 5rem; height: 5rem;"></div>
                        </div>
                    </div>
                    <div class="card-footer" v-show="!requiresConfirmation">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button :disabled="processing" class="btn btn-primary" @click="status()">{{ 'iczcore::migrations.admin_page.actions.status'|trans }}</button>
                                <button :disabled="processing" class="btn btn-success mx-3" @click="migrate()">{{ 'iczcore::migrations.admin_page.actions.migrate'|trans }}</button>
                            </div>
                            <div>
                                <button :disabled="processing" class="btn btn-danger" @click="rollback()">{{ 'iczcore::migrations.admin_page.actions.rollback'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" v-show="requiresConfirmation">
                        <div>{@ confirmationMessage @}</div>
                        <div>
                            <button class="btn btn-success" @click="confirmationAccept()">{{ 'iczcore::migrations.admin_page.actions.continue'|trans }}</button>
                            <button class="btn btn-danger" @click="confirmationAccept = null">{{ 'iczcore::migrations.admin_page.actions.cancel'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', () => {
        const vm = new Vue({
            el: '#phinx-app',
            delimiters: ['{@', '@}'],
            data: {
                processing: false,
                output: '',
                error: '',
                code: 0,

                confirmationAccept: null,
                confirmationMessage: ''
            },
            mounted() {
                this.status();
            },
            methods: {
                status() {
                    this.executeCommand('status');
                },

                migrate() {
                    this.confirmationMessage = Translator.trans('iczcore::migrations.admin_page.confirm.migration');
                    this.confirm(() => {
                        this.executeCommand('migrate');
                    });
                },

                rollback() {
                    this.confirmationMessage = Translator.trans('iczcore::migrations.admin_page.confirm.rollback');
                    this.confirm(() => {
                        this.executeCommand('rollback');
                    });
                },

                confirm(_onAccept){
                    this.confirmationAccept = function(){
                        _onAccept();
                        this.confirmationAccept = null;
                    };
                },

                executeCommand(_command)
                {
                    if(!this.processing){
                        this.processing = true;
                        this.error = '';
                        ApiService.post('icz_core_phinx_admin_migration_page', {command: _command})
                            .then(_response => {
                                this.output = _response.data.output;
                                this.code = _response.data.code;
                            })
                            .catch(_error => {
                                console.error(_error);
                                this.error = _error;
                            })
                            .then(() => {
                                this.processing = false;
                            });
                    }
                }
            },
            computed: {
                requiresConfirmation() {
                    return this.confirmationAccept !== null;
                }
            }
        });
    })
</script>